.card-content {
  margin-bottom: 0.5rem;
  background: rgba(192, 192, 192, 10%);
}

.category-image {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media screen and (max-width: 980px) {
  .category-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}
