.operate {
  margin: 16px;
}

.operate span {
  margin-left: 8px;
}

.add-categories-btn {
  text-align: center;

  button {
    width: 25%;
  }
}

.categories-header {
  text-align: center;
  margin: 44px 0;
}

.add-category-header {
  text-align: center;
  margin: 44px 0;
}

.category-form {
  padding: 30px;
}

.submit-box {
  text-align: center;
}

.category-form-button {
  margin: 5px 15px;
}

.add-collection {
  display: flex;
  justify-content: center;
}

.image {
  width: 150px;
  height: 150px;
  margin: auto;
}
