<form
  nz-form
  [formGroup]="signUpForm"
  class="sign-up-form"
  (ngSubmit)="onSignUp(email.value, password.value)"
>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your email!">
      <nz-input-group nzPrefixIcon="mail">
        <input
          type="text"
          nz-input
          formControlName="email"
          placeholder="Email"
          #email
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Password"
          #password
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control class="submit-box">
      <button
        nz-button
        class="sign-up-form-button"
        type="submit"
        [nzType]="'primary'"
        [nzSize]="'large'"
        [disabled]="!signUpForm.valid"
      >
        Sign Up
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
