.login-route {
  float: right;
}

.activities-header {
  text-align: center;
  margin-top: 44px;
}

.activity-header {
  text-align: center;
  margin-top: 14px;
  margin-bottom: 30px;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 44px;
}

.activity-form {
  padding: 30px;
}

.submit-box {
  text-align: center;
}

.activity-input {
  border-radius: 4px !important;
}

.card-box {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
}

@media screen and (max-width: 820px) {
  .card-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .card-box-item {
      width: 300px;
    }
  }
}

.no-items {
  text-align: center;
  margin: 44px 0;
}
