.login-route {
  float: right;
}

.activities-header {
  text-align: center;
  margin-top: 44px;
}

.activity-header {
  text-align: center;
  margin-top: 14px;
  margin-bottom: 30px;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 44px;
}

.activity-form {
  padding: 30px;
}

.submit-box {
  text-align: center;
}

.activity-input {
  border-radius: 4px !important;
}

.card-box {
  padding: 30px;
}
